@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    outline: none;
    box-sizing: border-box;
}

:root {
    --header-shadow: 0 2px 3px rgba(0,0,0,0.05);
}